.igk-body{
	background-color:%=SceneBackgroundColor%;  
}
.igk-body .scene {
    height:100%;
    background-color:%=SceneBackgroundColor%;  
}
.igk-body.game-app .scene{
width:100% !important;
}